{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      <li>追加日: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>期日: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li>進行状況: 完了</li>
      {% else %}
      <li>進行状況: 未完了</li>
      {% endif %}
    </ul>

    <div>
      <a href="{% url 'index' %}">ホームへ戻る</a>
      <a href="{% url 'delete' task.id %}">タスクを削除</a>
    </div>
  </body>

</html>