h1 {
    color: #ffffff;
    background-color: aqua;
    font-size: larger;
}

h2 {
    color: #ffffff;
    background-color: aqua;
    font-size: medium;
}

p {
    color: black;
    font-size: smaller;
}

li {
    color: black;
    font-size: smaller;
}